.header-settings {
  height: 80px;
  align-items: center;
  background-color: aquamarine;
  padding: 10px;
  /* border-radius: 15px; */
}

.header-logo {
  width: 200px;
}

.homepage .card img.fixed-height {
  height: 15rem;
}
