/* GENERAL */

a {
  text-decoration: none;
}

/* HEADER */
.header-settings {
  height: 80px;
  align-items: center;
  background-color: #a1d99b;
  padding: 10px;
}

.header-logo {
  width: 200px;
}

.button-margin {
  margin-right: 10%;
}

/* HOMEPAGE */

.fixed-height {
  height: 100%;
}

.homepage .card img.fixed-height {
  height: 15rem;
}

/* accordion */
/* Bottone dell'accordion aperto */
.accordion-button:not(.collapsed) {
  background-color: rgb(161, 217, 155); /* verde chiaro */
  color: #000; /* colore testo */
}

.accordion-button {
  font-weight: bold;
}
