/* GENERAL */

a {
  text-decoration: none;
}

a span i.link {
  font-weight: bold;
}

body {
  background-color: #f7f7f7;
}

/* HEADER */
.header-settings {
  height: 80px;
  align-items: center;
  background-color: rgb(120, 180, 120);
  padding: 10px;
}

.header-logo {
  width: 200px;
}

.button-margin {
  margin-right: 10%;
}

/* HOMEPAGE */

.fixed-height {
  height: 100%;
}

.homepage .card img.fixed-height {
  height: 15rem;
}

/* accordion */
/* Bottone dell'accordion aperto */
.accordion-button:not(.collapsed) {
  background-color: rgb(161, 217, 155); /* verde chiaro */
  color: #000; /* colore testo */
}

.accordion-button {
  font-weight: bold;
}

/* card */
.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 8px;
}
